#CustomItemOtions {
    align-items: center;
}

#CustomMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#CustomItemOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }