.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
    background-color: #033811;
  }

  .nav-link{
    color: wheat;
  }

  #logo{
    color: wheat;
  }

  .content {
    background-color: #11782c;
    border-radius: 1em;
    border: 2%;
    padding: 1em;
  }
  
  main {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #67a878;
  }
  
  footer {
    background-color: #063613;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0.5em;
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

  .fancyBox{
    border-radius: 0.5em;
}

.foot-text{
  padding: 0.3em;
}